*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

image{
  width: 100px;
}

.spiner-wrap{
  height: 100vh;
  background-color: #FAFAFA;
}

.nav--home{
  backdrop-filter: saturate(180%) blur(20px) !important;
  background-color: rgba(255,255,255,0.72) !important;
  border-bottom: 1px solid rgb(71, 71, 74);
}

.btn--category {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(186, 185, 185);
  margin-bottom: 20px;
}

.btn-nonactive{
  border-bottom: 1px solid rgb(186, 185, 185);
}

.btn-active{
  border-bottom: 1px solid black;
}

.btn-ac
.btn--category:hover{
  border-bottom: 1px solid black;
}

.input-group {
  width: unset;
}

.item div{
  min-height: 120px;
}

.item_ram--intel, .item_ram--M1{
  height: 120px;
  margin-bottom: 30px;
}

.item__color{
  display: flex;
  justify-content: center;
  margin: 10px 0px 5px 0px;
  min-height: unset !important;
}



.color--block{
  margin: 0px 4px 10px 4px;
}

.item--display{
  height: 120px;
}

.item__camera{
  height: 140px;
  margin-bottom: 30px;
}

h4 span{
  color: rgb(33, 37, 41);
  font-size: 1rem;
}

p{
  width: 60%;
  margin: auto;
}
img{
  min-height: 226px;
}

.paginate{
  margin-top: 20px !important;
}

a{
  text-decoration: unset;
  color:unset;
}
a:hover{
  color: unset;
}
.me-auto{
  margin-left: 10px;
}

.search--home{
  margin-right: 1px;
}
@media only screen and (max-width: 768px) {
  p {
    width: 100%;
  }
  .burger-menu--home{
    order: 1;

  }
  .apple-icon--home{
    order: 2;
    margin-right: unset !important;
  }
  .shopping-card--home{
    order: 3;
    margin-right: unset !important;
  }

  #navbarScroll{
    order: 4;
  }

  
}

@media only screen and (min-width: 1090px) and (max-width:1200px) {
 .paginate{
   margin-top: 40px !important;
 }
}